
*{
	font-family: "Goudy Bookletter 1911", sans-serif;
	font-size: 28px;
	box-sizing: border-box;
}
section{
		width: 95%
	}

body{
 	align-items: center;
 	justify-content: center;
}
@media (min-width: 1200px) {
	article {
		width: 30%;
		margin-right: 2%  ;
		margin-left: 2%  ;
	}
}

@media (min-width: 768px ) and (max-width: 1199px) {
		article {
		width: 45%;
		margin-right: 2%;
		margin-left: 2%  ;
	}
}
@media (max-width: 767px ) {
	article {
		width: 90%;
		margin-right: 2%;
		margin-left: 2%  ;
	}
}
h1{
	text-align: center;
}
div{
	font-weight: bold;
	font-size: 20px;
	border: 1px solid black;
	float: right;
	font-size: 20px;
}
p{
	font-style: italic;
	font-size: :16px;
	padding: 10px;
	clear:right;
	margin-bottom: 0px;
	font-size: 16px;
	min-height: 210px;
	}
article{
	background-color:gray;
	margin: 10px;
	border: 1px solid black;
	float: left;
}

#div1{
	background-color: #123456;
	color: white;
}
#div2{
	background-color: #EE9822;
}
#div3{
	background-color: #90BC34;
}